table,  mat-cell, mat-header-cell, mat-footer-cell {
  word-break:break-all;
  word-wrap:break-word;
  padding-right: 1%;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

td.mat-cell{
  border-bottom-style: none;
}

th.mat-header-cell{
  border-bottom-style: none;
}

mat-header-row, mat-row {
  border-bottom-style: none;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 500px;
  text-align:center
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.print-style {
  font-size: large;
  font-weight: bold;
  color: steelblue;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 480px){
  .print-style {
    page-break-inside: avoid;
    font-size: 10px;
    font-weight: bold;
    color: steelblue;
  }
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 95%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100% !important;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}
