mat-row:nth-child(even) {
  background: #CCC
  // background: #b0c4de;
}
mat-row:nth-child(odd) {
  background: #FFF
}

.print-style {
  font-weight: bold;
  color: steelblue;
}

.mat-row, .mat-header-row {
   width: 250vw;
 }
.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}
