mat-row:nth-child(even) {
  background: #CCC
  // background: #b0c4de;
}
mat-row:nth-child(odd) {
  background: #FFF
}

.print-style {
  font-size: large;
  font-weight: bold;
  color: steelblue;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 480px){
  .print-style {
    page-break-inside: avoid;
    font-size: 10px;
    font-weight: bold;
    color: steelblue;
  }
}

