/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/theming';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@include mat-core();

/************************
 Theming section
************************/

// Custom themable components
@import "app/sidenav/sidenav.component";
@mixin custom-components-theme($theme) {
  @include sidenav-theme($theme);
}

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

/************************
 Default global styles
************************/

body {
  -webkit-print-color-adjust: exact;
}

@media print {

  .page-number{
    content: counter(page) ' of ' counter(pages);
  }

  .isPrinting > * {
    display: none;
  }
  .isPrinting app-print-layout {
    display: block;
  }

  #content, #page {
    width: 100%;
    margin: 0;
    float: none;
  }
  @page {
    margin: .5cm;
    size: A4 landscape;
  }
  h1 {
    font-size: 24pt;
  }

  h2, h3, h4, h5 {
    font-size: 14pt;
    margin-top: 25px;
  }


  a {
    page-break-inside: avoid
  }

  blockquote {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid
  }

  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  table, pre {
    page-break-inside: avoid
  }

  ul, ol, dl {
    page-break-before: avoid
  }


  a:link, a:visited, a {
    background: transparent;
    color: #520;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
  }

  a {
    page-break-inside: avoid
  }

  a[href^=http]:after {
    content: " <" attr(href) "> ";
  }

  img {
    content: "";
  }

  article a[href^="#"]:after {
    content: "";
  }

  a:not(:local-link):after {
    content: " <" attr(href) "> ";
  }

  .entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0 !important;
    white-space: nowrap;
  }

  .embed-youtube, .embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  .entry:after {
    content: "";
    color: #999 !important;
    font-size: 1em;
    padding-top: 30px;
  }

  #header:before {
    content: "";
    color: #777 !important;
    font-size: 1em;
    padding-top: 30px;
    text-align: center !important;
  }

  p, address, li, dt, dd, blockquote {
    font-size: 100%
  }

  code, pre {
    font-family: "Courier New", Courier, mono, serif
  }

  ul, ol {
    list-style: square;
    margin-left: 18pt;
    margin-bottom: 20pt;
  }

  li {
    line-height: 1.6em;
  }
}
